{# templates/trends.html #}
{% extends "base.html" %}

{% block title %}Netflix Trends & Analytics{% endblock %}

{% block content %}
    <section class="plot-container">
        <h2>Release Trends Over Years</h2>
        <div id="release-year-plot"></div>
        <script>
            var plot_data = {{ release_year_plot | safe }};
            Plotly.newPlot('release-year-plot', plot_data.data, plot_data.layout);
        </script>
    </section>

    {# You will add more trend visualizations here in subsequent steps #}
    {# For example:
    <section class="plot-container">
        <h2>Genre Popularity (Movies)</h2>
        <div id="genre-movie-plot"></div>
        <script>
            // Plotly code for genre plot
        </script>
    </section>
    #}

{% endblock %}